*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins',sans-serif;
color: white;

}
body{
background: rgb(0, 15, 57);

}
.header{
position: fixed;
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;

display: flex;
justify-content: space-between;
align-items: center;
z-index: 100;
}
.logo{
font-size: 25px;
color: white;
text-decoration: none;
font-weight: 600;

}
.navbar a{
font-size: x-large;
color: white;
text-decoration: none;
font-weight: 500;
margin-left: 35px;
transition: .4s ease;


}
.navbar a:hover,
.navbar a.active{
color: #00abf0;
text-shadow: 0 0 20px cyan;


}
.home{
    height: 100vh;
display: flex;
align-items: center;
padding: 0 10%;

}
.home-content{
max-width: 600px;


}
.home-content h1{
font-size: 56px;
font-weight: 700;



}
.home-content h3{
font-size: 32px;
font-weight: 700;
color: #00abf0;


}
.home-content p{
font-size: 16px;


}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
width: 356px;
height: 43px;
cursor: pointer;


}
.btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
width: 150px;
height: 100%;
background: #00abf0;
border: 2px solid #00abf0;
border: 8px;
font-size: 20px;
color: black;
text-decoration: none;
font-weight: 600;
letter-spacing: 1px;
border-radius: 6px;
box-shadow: 0 0 20px cyan

}
img{
width: 589px;
float: right;
position: absolute;
bottom: 0px;
left: 57%;




}
.logo:hover{
color: cyan;
text-shadow: 0 0 23px cyan;
transition: .4s ease;

}